body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation */
.nav {
    background-color: #333;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav ul li {
    float: left;
}
.nav ul li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
.nav ul li a:hover {
    background-color: #ebcb15;
}

/* Main Content */
.main-content {
    padding: 20px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th, table td {
    padding: 10px;
    text-align: center;
}
table th {
    background-color: #21a7c9;
}

/* Footer */
.footer {
    background-color: #dfb322;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}